body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(108, 117, 125);
}
.navbar {
    height: 10vh;
    width: 100vw;
    background-color: rgb(33, 37, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon {
    color: white;
    font-size: 50px;
    margin-right: 83%;
    z-index: 1;
    cursor: pointer;
}
.sidebar {
    z-index: 2;
    height: 100vh;
    width: 15vw;
    position: fixed;
    top: 0;
    left: -15vw; /* Hidden by default */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 37, 41);
    transition: left 0.3s ease-in-out;
}
.sidebar.active {
    left: 0; /* Slide in */
}
.cut {
    z-index: 6;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.text3{
    margin-bottom: 60%;
    margin-right: 2%;
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 50px;
}
.txt4{
    font-size: 25px;
    margin-left: 0%;
    margin-top: 50%;
    color: white;
    text-decoration: none;
}
.txt4 p{
    color: white;
}


.rakhosab{
    width: 70%;
    margin-left: 15%;
    margin-top: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.input1 {
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.input1 input{
    border-radius: 10px;
    width: 850px;
    height: 50px;
    font-size: 16px;
    border: solid 2px black;
    box-shadow: 0px 0px 10px 0px black;
    transition: transform 0.3s ease
}

.input1 input:hover{
    transform: scale(1.05);
}
.input1 textarea{
    align-items: center;
    overflow: hidden;
    font-size: 16px;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 0px 0px 10px 0px black;
    resize: none;
    transition: transform 0.3s ease
}
.input1 textarea:hover{
    transform: scale(1.05);
}

#img{
    background-color: white;   
}
.input1 button{
    height: 40px;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 10px;
    filter: blur(0.2px);
    box-shadow: 0px 0px 10px 0px black;
    transition: transform 0.3s ease, background-color 0.1s ease, color 0.1s ease;
}
.input1 button:hover{
    transform: scale(1.1);
    background-color: blue;
    color: white;
}






.search-bar{
    display: flex;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
    margin-top: 10%;
}
.search-bar input,
.search-btn {
	width: 3.5em;
	height: 3.5em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #f1f1f1;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}


.plus{
    height: 90px;
    width: 90px;
    margin-top: 30%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    margin-left: 92%;
    z-index: 50;
    transition: tranform 0.3s ease;
}
.plus:hover{
    transform: scale(1.08);
}
.rect1{
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: white;
    z-index: 32;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rect2{
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: white;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.complete-button{
    margin-top: 20%;
    border-radius: 10px;
    background-color: #0c48db;
    color: white;
    border: solid 5px black;
    margin-left: 18%;
    font-size: 20px;
    height: 35px;
    transition: transform 0.3s ease;
}
.complete-button:hover{
    transform: scale(1.06);
}

.card-container {
    width: 80vw;
    height: 100vh;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card1{
    width: 100%;
    max-width: 45%;
    background-color: white;
    color: black;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px;
    transition: tranform 0.3s ease;
} 
.card1:hover{
    transform: scale(1.1);
}
.productimage{
    margin-top: 5%;
    margin-left: 5%;
}
#price{
    font-size: 35px;
    margin-left: 5%;
}
#description{
    margin-left: 5%;
    margin-left: 5%;
}
.tee1{
    margin-left: 30%;
    font-size: 40px;
    color: white;
}