{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="navbar">
        <div class="menu-icon">
            <i class='bx bx-menu'></i>
        </div>
    </div>

    <div class="sidebar">
        <div class="cut">
            <i class='bx bx-x'></i>
        </div>
        <div class="text3">
            <div class="txt4"> 
                <a href=""><p><u>Home</u> </p></a>
            </div>
            <div class="txt4"> 
                <a href="{% url 'businessman_panellogin' %}"><p><u>Businessman Panel</u> </p></a>
            </div>
            <div class="txt4"> 
                <a href="{% url 'addproduct' %}"><p><u>Add a Product</u></p></a>
            </div>
            <div class="txt4"> 
                <a href="{% url 'deleteproduct' %}"><p><u>Delete a Product</u></p></a>
            </div>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sidebar = document.querySelector(".sidebar");
        const cutbutton = document.querySelector(".cut");
        const menubutton = document.querySelector(".menu-icon");

        menubutton.addEventListener('click', () => {
            sidebar.classList.add("active");
        });

        cutbutton.addEventListener('click', () => {
            sidebar.classList.remove("active");
        });
    });
</script>
</html>